<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
        font-size: 30px;
        font-weight: 600;
        background-color: bisque;
        color: rgb(42, 24, 1);
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding:100px 20vh;
    }

    body h1{
        font-size: large;
    }

    body hr{
        width: 100%;
    }

    a{
        font-size: small;
        padding: 10px 10px;
    }
</style>
</head>
<body>
    <h1>USER DETAILS:</h1><br>
        <div>
        Name: &nbsp;&nbsp;{{data.name}}
        </div>
        <hr>
        <div>
        E-Mail:   &nbsp;&nbsp;{{data.email}}
       </div>
       
       <br>
       <a href="/">Main Page</a>
       
</body>
</html>