<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       body{
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            font-weight: 300;
            flex-direction: column;
            margin-bottom: 200px;
            padding:100px 20vh;
        }

        body a{
            padding: 10px 10px;
            color:#fff;
            background-color: #000;
            font-style: none;
            text-decoration: none;

        }
    </style>
</head>

<body>
    <div>
        Registered Successfully!
    </div>
    <br><br><br>
    <div>
        <a href="/">Main page</a>
    </div>
</body>

</html>